<div class="container">
  <form class="form-inline p-4" action="/answer" method="get">
    <div class="form-group mb-2"> 
      <h1 class="sr-only">Stupid Coaching</h1>
      <p class="sr-only">Ask your Coaching anithing:</p>    
    </div>
    <div class="form-group mb-2 d-flex"> 
      <input class="form-control w-50 rounded-left" id="exampleFormControlInput1" type="text" name="answer">
      <button type="submit" class="btn btn-primary rounded-right">Ask</button> 
    </div> 
  </form>
  <style>
    .form-control{
      border-radius: 8px 0px 0px 8px !important;
    }
    .btn {  
      border-radius: 0px 8px 8px 0px !important;
    }
  </style>
</div>

